.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  max-width: 62.5rem;
  margin: 0 auto;
}

.listItemBig {
  width: 100%;
  text-align: center;
}

.linkBig {
  font-size: 1.5rem;
}

.listItemSmall {
  width: 100%;
}

.nestedList {
  display: flex;
}

.nestedListItem {
  flex-basis: 50%;
  text-align: center;
  padding-bottom: 1rem;
}

.nestedListItem:first-child {
  margin-left: auto;
}

.navLink {
  font-size: 1.125rem;
}

.navLink:hover {
  font-weight: 600;
  border-bottom: 0.25rem solid #f7f7f7;
}

.active {
  composes: navLink;
  font-weight: 600;
  border-bottom: 0.25rem solid #f7f7f7;
}

@media (min-width: 768px) {
  .list {
    flex-wrap: nowrap;
    align-items: center;
  }

  .listItemBig {
    padding-bottom: 1rem;
    text-align: left;
  }

  .linkBig {
    font-size: 2rem;
  }

  .nestedList {
    gap: 1.5rem;
  }

  .navLink {
    font-size: 1.5rem;
  }

  .nestedListItem {
    flex-basis: auto;
  }
}
