@value titleSize from "../../styles/vars.module.css";
@value titlePadTop from "../../styles/vars.module.css";
@value titlePadBot from "../../styles/vars.module.css";

.title {
  font-size: titleSize;
  padding-top: titlePadTop;
  padding-bottom: titlePadBot;
}

.itemImg {
  width: 100%;
  height: 18.75rem;
  object-fit: contain;
}

.itemPrice {
  padding-top: 1rem;
}
